{% extends 'msc/index.html' %}

{% block title %}MSC | Review{% endblock %}

{% block extrastyle %}
    <style>
        .navbar{
            padding: 5px 0px;
        }

        .review-banner{
            height: 150px;
            background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../static/msc/images/nnend2.jpg') center -420px no-repeat fixed;
            background-size: cover;
        }

        .review-content{
            padding: 20px 30px;
        }

        aside{
            background: rgb(241, 238, 238);
            padding: 20px 15px;
        }
        
        .sticky {
            position: fixed;
            top: 0;
            width: 100%
        }

        /* for the pdf container */
        .pdf-canvas-container{
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 4;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            background: rgba(48, 48, 48, 0.719);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            visibility: hidden;
        }

        .pdf-canvas{
            height: 500px;
        }

        .close-pdf-btn{
            color:rgb(241, 238, 238);
            font-size: 2rem;
        }

        .close-pdf-btn:hover{
            text-decoration: none;
            color: #ccc;
        }

        .canvas-controls{
            width: 3%;
            /* background: red; */
            display: flex;
            justify-content: space-between;
        }

        .canvas-controls > *{
            font-size: 1.2rem;
            color: whitesmoke;
        }

        .canvas-controls > *:hover{
            color: rgb(46, 46, 46);
        }

        .action-btn{
            background: rgb(194, 61, 61);
            color: whitesmoke;
            padding: 8px;
            transition: .5s ease;
        }

        .action-btn:hover{
            color: whitesmoke;
            text-decoration: none;
            box-shadow: 0 0 20px #000000bc;
        }

        /* for preview */

    </style>
{% endblock %}


{% block navlinks %}
    <li class="nav-item px-lg-0 px-md-0 px-sm-2 px-3">
        <a class="nav-link" href="{% url 'msc:home' %}">Home</a>
    </li>
    <li class="nav-item px-lg-0 px-md-0 px-sm-2 px-3 dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Others
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'msc:review' %}">Testimonial</a>
            <a class="dropdown-item" href="{% url 'msc:health-tips' %}">Health Tips</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Blog</a>
        </div>
    </li>
{% endblock %}

{% block banner %}<!-- for the banner image -->
    <section class='review-banner'>
    </section>
{% endblock %}


{% block content %}
    <section class='review-content'>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-5">
                    <h1 class='text-center text-md-left text-sm-center my-3'>Patient Review</h1>
                    {% for review in reviews %}
                        <div class='mb-4'>
                            <img src="{{ review.image.url }}" alt="" class='img-thumbnail'>
                            <h3 class='text-center text-md-left text-sm-center'>{{ review.topic }}</h3>
                            <p class='text-center text-md-left text-sm-center'>
                                {{ review.briefing }}
                            </p>
                        </div>
                    {% endfor %}
                    <div class="pagination"><!-- for pagination -->
                        <span class="step-links" style='margin:auto'>
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" class='action-btn'>previous</a>
                            {% endif %}
                            <span class="current mx-2">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class='action-btn'>next</a>
                            {% endif %}
                        </span>
                    </div>
                </div> <!-- end of the column containing the review content -->

                <div class="col-md-4 side-stack">
                    <section>
                        <h2 class='text-center text-md-left text-sm-center'>Other Info</h2>
                        <aside>
                            Download the Curriculum Vitae of our founder to get to know more about him and his 
                            very achievements as a orthopaedics consultant
                            <div class='text-center text-md-right text-sm-center my-3'>
                                <a href="../../static/msc/credentials/CURRICULUM VITAE most current1.docx" class='action-btn'><i class="fas fa-download"></i> Download</a>
                            </div>
                        </aside>
                    </section>
                    <section class='mt-4'>
                        <h2>View Extra Reviews</h2>
                        <aside class=''>
                            Preview other reviews made in documents or download them
                            <div class='mt-4 text-md-left text-sm-center text-center'>
                                <a href="javascript:void(0);" class='action-btn preview-pdf-btn'>Preview</a>
                                {% load static %}
                                <a href="{% static 'msc/credentials/Correction_of_adult_knee_flexion_contracture.pdf' %}" class='action-btn'>Download</a>
                                <div class="pdf-canvas-container">
                                    <a href="#" class='close-pdf-btn'>&times</a>
                                    <canvas class='pdf-canvas'></canvas>
                                    <div class="canvas-controls">
                                        <a href="javascript:void(0);" class="left-control"><i class="fas fa-angle-left"></i></a>
                                        <a href="javascript:void(0);" class='right-control'><i class="fas fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </section>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section>
{% endblock %}


{% block extrascripts %}
    {% load static %}
    <script src='{% static "msc/pdfJS/pdf.js" %}'></script>
    <script>
        const previewBtn = document.querySelector('.preview-pdf-btn');
        const closePdfBtn = document.querySelector('.close-pdf-btn');
        var canvasContainer = document.querySelector('.pdf-canvas-container');
        var controlsContainer = document.querySelector('.canvas-controls');
        var leftControl = document.querySelector('.left-control');
        var rightControl = document.querySelector('.right-control');

        var filePath = '../../static/msc/credentials/Correction_of_adult_knee_flexion_contracture.pdf';
        var loadingTask = pdfjsLib.getDocument(filePath);

        // to control the page number
        var pageNumber = 1;

        function createNewCanvas(){
            // to create the new canvas object per time
            // note: this is required by pdfJS
            if (canvasContainer.contains(document.querySelector('.pdf-canvas'))){
                document.querySelector('.pdf-canvas').remove();
            }

            let canvas = document.createElement('canvas');
            canvas.className = 'pdf-canvas';
            canvasContainer.insertBefore(canvas, controlsContainer);
            return canvas;
        }

        function handlePageRender(){
            loadingTask.promise.then(function(pdf) {
                // Load information from the first page.

                // this section is to ensure you don't go out of page boundaries
                    if (pageNumber > pdf.numPages){
                        pageNumber = pdf.numPages;
                    }
                    if (pageNumber < 1){
                        pageNumber = 1;
                    }

                    pdf.getPage(pageNumber).then(function(page) {
                        var scale = 1.5;
                        var viewport = page.getViewport({ scale: scale, });

                        // Apply page dimensions to the <canvas> element.
                        var canvas = createNewCanvas();
                        var context = canvas.getContext("2d");
                        canvas.height = viewport.height;
                        canvas.width = viewport.width;

                        // Render the page into the <canvas> element.
                        var renderContext = {
                            canvasContext: context,
                            viewport: viewport
                        };

                        var renderTask = page.render(renderContext);
                        renderTask.promise.then(function () {
                            console.log('Page rendered');
                        });
                    });
                },
                function(reason) {
                    console.error(reason);
                }
            );
        }


        previewBtn.addEventListener('click', function(){
            handlePageRender();
            canvasContainer.style.visibility = 'visible';

            window.addEventListener('click', function(e){
                if (e.target === canvasContainer){
                    canvasContainer.style.visibility = 'hidden';
                }
            })
        });

        leftControl.addEventListener('click', function(){
            pageNumber--;
            handlePageRender();
        });

        rightControl.addEventListener('click', function(){
            pageNumber++;
            handlePageRender();
        });

        closePdfBtn.addEventListener('click', function(){
            canvasContainer.style.visibility = 'hidden';
        });

        let asideMenu = document.querySelector('side-stack');
        // let sticky = asideMenu.offsetTop;

        // document.addEventListener('scroll', function(){
        //     if (window.pageYOffset > sticky){
        //         console.log("I'm here fish");
        //         asideMenu.classList.add('sticky');
        //     }else{
        //         asideMenu.classList.remove('sticky');
        //     }
        // });
    </script>

{% endblock %}


{% block services %}
{% endblock %}

{% block nutrition %}
{% endblock %}

{% block about %}
{% endblock %}

{% block contact %}
{% endblock %}


